@font-face {
    font-family: 'lxgw'; /* 重命名字体名 */
    src: url('LXGWWenKaiMono-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'lxgw'; /* 重命名字体名 */
    src: url('LXGWWenKaiMono-Light.ttf');
    font-weight: 10;
    font-style: normal;
}

@font-face {
    font-family: 'lxgw'; /* 重命名字体名 */
    src: url('LXGWWenKaiMono-Bold.ttf');
    font-weight: bold;
    font-style: normal;
}
